<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="zs.xmx.share">

    <application>

        <!-- 腾讯 start -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- <data android:scheme="tencent你的AppId" /> -->
                <data android:scheme="tencent1105229361"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- 腾讯 end -->


        <!-- 微信 start -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="微信回调"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- 微信 end -->

        <activity android:name=".wxapi.MainActivity">
        </activity>
    </application>

</manifest>